ag-charts {
  display: block;
}
.ag-chart-container {
  width: 100%;
}
.chart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.sub-container {
  width: 60%;
}
.time-late {
  display: flex;
  width: 140px;
  justify-content: space-between;
}

full-calendar {
  margin: 0 auto;
}

::ng-deep .fc-toolbar-title {
  font-size: 18px !important;
  width: 150px !important;
  text-decoration: center;
  text-align: center;
}
