<div
  class="card"
  [ngStyle]="{
    'background-color': selectedCard === index ? APP_COLORS.Primary : 'white',
    cursor: 'pointer'
  }"
  (click)="onCardClick()"
>
  <!-- Card Content -->
  <div class="card-content">
    <!-- Card Header -->
    <div class="display card-header">
      <div class="display">
        <div class="icon-wrapper">
          <i class="icon" [ngStyle]="{ 'font-size': '20px' }"></i>
        </div>

        <h3 style="color: black">{{ card.title }}</h3>
      </div>
      <div class="icon-button">
        <i class="icon more-icon" style="font-size: 30px">&#8942;</i>
      </div>
    </div>

    <!-- Points Section -->
    <div class="display points">
      <h2 style="font-weight: 500; color: black">{{ card.value }}</h2>
      <div class="percentage">{{ card.percentage }}</div>
    </div>

    <!-- Description -->
    <div class="description">{{ card.description }}</div>
  </div>
</div>
