.app-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sidebar-container {
        width: 16%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color:white;

    }

    .content-container {
        width: calc(100% - 17.5%);
        height: 100vh;

        .content-wrapper{
            height: calc(100vh - 70px);
            width: 98%;
        }
    }
}

