/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#777A7C;
    background-color: #F1F2F4;
    
}